.easy-settings-for-wordpress > div {
	display: flex;
	flex-direction: row;
	.nav-tab-wrapper {
		border: 0;
		display: flex;
		flex-direction: column;
		margin-right: 1em;
		a {
			margin: 0;
		}
		nav {
			display: flex;
			flex-direction: column;
			a {
				padding-left: 2em;
			}
		}
	}
}
