.available-structure-permalinkslug {
	padding-top: 8px;
}

.available-structure-permalinkslug ul {
	display: flex;
	flex-wrap: wrap;
	margin: 8px 0 0;
}

.available-structure-permalinkslug li {
	margin-right: 8px;
}

.esfw-image-choose img, .esfw-settings-image-choose img { width: 240px; }

.easy-settings-for-wordpress label { cursor: pointer }

.esfw-settings-overlay {
	min-width: 400px;
	padding: 2rem 2rem;
	transition: opacity 0.5s;
	opacity: 1;
	border: 1px solid #fff;
	background-color: #fff;
	border-radius: 8px;
}

.esfw-settings-overlay > * {
	margin: 0 0 1em;
}

.esfw-settings-overlay > *:last-child {
	margin-bottom: 0;
}

.esfw-settings-overlay label {
	cursor: pointer;
	display: block;
	font-weight: bold;
	margin-bottom: .4em;
}

.wp-core-ui .esfw-settings-post-type-listing .button {
	display: block;
	margin-bottom: .4em;
}

@media (min-width: 960px) {
	.esfw-settings-overlay {
		max-height: 70%;
	}
}

.esfw-settings-overlay::backdrop {
	background: #00000059;
	transition: opacity 0.5s;
	opacity: 1;
}

.easy-settings-for-wordpress .nav-subtab-wrapper {
	margin-top: 1em;
	margin-bottom: 1em;
}

.easy-settings-for-wordpress .nav-subtab-wrapper ul {
	margin: 0;
	padding: 0;
}

.easy-settings-for-wordpress .nav-subtab-wrapper li {
	display: inline-block;
	padding-right: .5em;
}

.easy-settings-for-wordpress .nav-subtab-wrapper li:after {
	content: '|';
	display: inline-block;
	padding-left: .5em;
}

.easy-settings-for-wordpress .nav-subtab-wrapper li:last-child:after { display: none }

.easy-settings-for-wordpress .nav-subtab-wrapper a.active {
	font-weight: bold;
}

.easy-settings-for-wordpress tr.hide { display: none }

.easy-settings-for-wordpress tr.show_with_animation {
	animation: easy-settings-animation 1s ease-in forwards;
}

@keyframes easy-settings-animation {
	0% {
		opacity: 0;
		background-color: #fca15b00;
	}
	25% {
		opacity: .25;
		background-color: #fca15b20;
	}
	50% {
		opacity: .5;
		background-color: #fca15b40;
	}
	75% {
		opacity: .75;
		background-color: #fca15b60;
	}
	100% {
		opacity: 1;
		background-color: transparent;
	}
}
